.mainintrotext{ 
      position: relative;
       padding:2rem;
      /* // backgroundColor: #f3f4f6; */
      /* box-Shadow: 0 4px 6px rgba(0,0,0,0.1); */
      margin: 40px;
    }
    .introtext{ 
        font-size: clamp(0.9rem, 2vw, 5rem);
        color: #010101;
        position: relative;
        top: 0;
        left: 10px;
        user-Select: none;
      }
    .bro1{ 
        font-size: clamp(2rem, 8vw, 5rem);
        color: #9ca3af;
         top: 0;
        left: 10px;
        user-Select: none ;
        position: absolute;
        z-Index: 1;
      }
      .bro2{ 
       font-size: clamp(2rem, 8vw, 5rem);
        color: #9ca3af;
        position: absolute;
        bottom: 0;
        right: 10px;
        user-Select: none 
      }